@use 'scss/abstracts/variables';

.banner {
  animation: appear variables.$cookies-animation-duration backwards;
  background-color: variables.$background-color-cookies-light-transparent;
  bottom: 0;
  color: variables.$font-primary-color-dark;
  position: absolute;
  z-index: 1;

  p {
    margin: 3.6em 1em 2em;
  }

  button {
    margin: 1em;
    position: absolute;
    right: 0;
    top: 0;
  }
}

[data-theme="dark"] {
  .banner {
    background-color: variables.$background-secondary-color-dark-transparent;
    color: variables.$font-primary-color-light;
  }
}

@keyframes appear {
  0% {
    opacity: .3;
    translate: 0 2em;
  }

  100% {
    opacity: 1;
  }
}