@use 'scss/abstracts/variables';

.style {
  background-color: variables.$background-color-primary-light;
  color: variables.$font-color-primary-light;
  display: flex;
  min-height: 3em;
  padding: 1em;

  >div {
    align-self: center;
  }
}

[data-theme="dark"] {
  .style {
    // color: variables.$font-color-primary-dark;
  }
}