@use 'scss/abstracts/variables';

[data-theme="dark"] {
  .navbar {
    background-color: variables.$background-primary-color-dark-transparent;

    a {
      color: variables.$font-primary-color-light
    }
  }
}

.navbar {
  animation: menu-out variables.$menu-animation-duration;
  background-color: variables.$background-primary-color-light-transparent;
  backdrop-filter: blur(5px);
  box-shadow: -.1em 0 1em #000;
  height: 100vh;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 1.5s, translate variables.$menu-animation-duration cubic-bezier(0.175, 0.885, 0.32, 1);
  translate: -100% 0;
  width: 12em;
  z-index: 1;

  &.open {
    animation: menu-in variables.$menu-animation-duration;
    opacity: 1;
    transition: translate variables.$menu-animation-duration cubic-bezier(0.175, 0.885, 0.32, 1);
    translate: 0;

    a {
      animation: appear 1.5s backwards;
    }
  }

  >div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4em;

    &:hover {
      a {
        opacity: 0.25;
      }
    }

    a {
      position: relative;
      color: variables.$font-primary-color-dark;
      text-decoration: none;
      font-size: 1em;
      padding: .6em 0;
      width: 10em;

      &:hover {
        opacity: 1;

        &:before {
          opacity: 1;
        }

        &:after {
          transform: scaleX(1);
        }
      }

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        transition: 0.4s;
      }

      &:before {
        opacity: 0;
        background: rgb(255 255 255 / 20%);
      }

      &:after {
        transform: scaleX(0);
        transform-origin: 0% 50%;
        background: #f7f7f7;
      }
    }
  }

  >label {
    display: block;
  }
}

.hamburger {
  position: fixed;
  top: 0;
  z-index: 1;
}

.secondaryCloseNavBarButton {
  height: 100vh;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 12em);
  z-index: 1;
}

@media (min-width: variables.$mobile-screen) {
  .navbar {
    animation: none;
    height: inherit;
    opacity: 1;
    position: inherit;
    translate: 0;

    >div {
      margin-top: 1em;
    }
  }

  .hamburger {
    display: none;
  }

  .secondaryCloseNavBarButton {
    display: none;
  }
}

[data-menu-position="right"] {
  .navbar {
    animation: menu-out-right variables.$menu-animation-duration;
    right: 0;
    transition: opacity 1.5s, translate variables.$menu-animation-duration cubic-bezier(0.32, 1, 0.175, 0.885);
    translate: 100% 0;

    &.open {
      animation: menu-in-right variables.$menu-animation-duration;
      transition: translate variables.$menu-animation-duration cubic-bezier(0.32, 1, 0.175, 0.885);
      translate: 0;

      a {
        animation: appear-right 1.5s backwards;
      }
    }

    >div {
      a {
        text-align: right;
      }
    }
  }

  .hamburger {
    right: 4em;
  }

  .secondaryCloseNavBarButton {
    right: unset;
  }
}

@media (min-width: variables.$mobile-screen) {
  [data-menu-position="right"] {
    .navbar {
      animation: inherit;
      right: 12em;
      transition: opacity 1.5s, translate variables.$menu-animation-duration;
    }
  }
}

@keyframes menu-in {
  0% {
    clip-path: ellipse(60% 60% at 0% 50%);
  }

  100% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }
}

@keyframes menu-out {
  0% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }

  100% {
    clip-path: ellipse(0% 0% at 0% 50%);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: -2em 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes menu-in-right {
  0% {
    clip-path: ellipse(60% 60% at 100% 50%);
  }

  100% {
    clip-path: ellipse(120% 120% at 100% 50%);
  }
}

@keyframes menu-out-right {
  0% {
    clip-path: ellipse(120% 120% at 100% 50%);
  }

  100% {
    clip-path: ellipse(0% 0% at 100% 50%);
  }
}

@keyframes appear-right {
  0% {
    opacity: 0;
    translate: 2em 0;
  }

  100% {
    opacity: 1;
  }
}