@use 'scss/abstracts/variables';

.style {
  background-color: variables.$background-color-primary-light;
  color: variables.$font-color-primary-light;
  display: flex;
  min-height: 2em;
  padding: 1em 1em 1em 3.8em;

  h1 {
    align-self: center;
    font-size: 1em;
    margin: 0;
  }
}

[data-theme="dark"] {
  .style {
    // color: variables.$font-color-primary-dark;
  }
}

@media (min-width: variables.$mobile-screen) {
  .style {
    padding: 1em;
  }
}