@use '../scss/abstracts/variables';

.base {
  background-color: black;
  position: absolute;
  height: 100vh;
  width: 12em;
  translate: -100% 0;
  top: 0;
  transition: translate variables.$menu-animation-duration cubic-bezier(0.175, 0.885, 0.32, 1);
  animation: menu-out variables.$menu-animation-duration;
}

.open {
  translate: 0;
  transition: translate variables.$menu-animation-duration cubic-bezier(0.175, 0.885, 0.32, 1);
  animation: menu-in variables.$menu-animation-duration;
}

.hamburger {
  position: fixed;
}

@media (min-width: variables.$mobile-screen) {
  .base {
    position: inherit;
    translate: 0;
    height: inherit;
    animation: none;
  }

  .hamburger {
    display: none;
  }
}

@keyframes menu-in {
  0% {
    clip-path: ellipse(60% 60% at 0% 50%);
  }

  100% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }
}

@keyframes menu-out {
  0% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }

  100% {
    clip-path: ellipse(0% 0% at 0% 50%);
  }
}