@use '../scss/abstracts/variables';

.base {
  animation: menu-out variables.$menu-animation-duration;
  background-color: black;
  height: 100vh;
  position: absolute;
  top: 0;
  transition: translate variables.$menu-animation-duration cubic-bezier(0.175, 0.885, 0.32, 1);
  translate: -100% 0;
  width: 12em;

  &.open {
    animation: menu-in variables.$menu-animation-duration;
    transition: translate variables.$menu-animation-duration cubic-bezier(0.175, 0.885, 0.32, 1);
    translate: 0;
  }
}

.hamburger {
  position: fixed;
}

.secondaryCloseNavBarButton {
  height: 100vh;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(100% - 12em);
}

@media (min-width: variables.$mobile-screen) {
  .base {
    animation: none;
    height: inherit;
    position: inherit;
    translate: 0;
  }

  .hamburger {
    display: none;
  }

  .secondaryCloseNavBarButton {
    display: none;
  }
}

@keyframes menu-in {
  0% {
    clip-path: ellipse(60% 60% at 0% 50%);
  }

  100% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }
}

@keyframes menu-out {
  0% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }

  100% {
    clip-path: ellipse(0% 0% at 0% 50%);
  }
}