// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;1,400&display=swap');

// :root {
//   // fonts
//   --font-source-code-pro: 'Source Code Pro', monospace;

//   // colors
//   --primary-color: #64ff00;
// }

$desktop-screen: 768px;
$mobile-screen: 412px;

$cookies-animation-duration: 1.5s;
$menu-animation-duration: 1s;