// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;1,400&display=swap');

// :root {
//   // fonts
//   --font-source-code-pro: 'Source Code Pro', monospace;

//   // colors
//   --primary-color: #64ff00;
// }

$background-primary-color-light: #0000ff;
$background-primary-color-light-transparent: #0000ffaa;
$background-secondary-color-light: #ffa500;
$background-secondary-color-light-transparent: #ffa500aa;
$background-tertiary-color-light: #008000;
$background-tertiary-color-light-transparent: #008000aa;

$background-primary-color-dark: #000080;
$background-primary-color-dark-transparent: #000080cc;
$background-secondary-color-dark: #FF8C00;
$background-secondary-color-dark-transparent: #FF8C00aa;
$background-tertiary-color-dark: #006400;
$background-tertiary-color-dark-transparent: #006400aa;

$font-primary-color-light: #f9f9f9;
$font-primary-color-dark: #212121;

$desktop-screen: 768px;
$mobile-screen: 412px;

$cookies-animation-duration: 1.5s;
$menu-animation-duration: 1s;