// abstracts
@use './scss/abstracts/variables';
@use './scss/abstracts/mixins';

// base
@use './scss/base/base';

// TODO: eslint SASS

#body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.content {
  display: flex;
  flex: 1 0 auto;
}

main {
  flex-grow: 1;
}

:root {
  --primary-color: #64ff00;
}

@media (min-width: variables.$mobile-screen) {
  :root {
    --primary-color: blue;
  }

  #body {
    flex-direction: row;
  }

  #body[data-menu-position="right"] {
    flex-direction: row-reverse;
  }
}

@media (min-width: variables.$desktop-screen) {
  :root {
    --primary-color: pink;
  }

  #body {
    height: calc(100vh - 2em);
    margin-bottom: 1em;
    margin-top: 1em;
    overflow-x: inherit;
  }
}