// abstracts
@use './scss/abstracts/variables';
@use './scss/abstracts/mixins';

// base
@use './scss/base/base';

// TODO: eslint SASS

#body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  max-width: variables.$desktop-screen;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.content {
  display: flex;
  flex: 1 0 auto;
}

main {
  flex-grow: 1;
}

.page {
  background-color: red;

  h2,
  p {
    margin: 0;
  }
}

@media (min-width: variables.$mobile-screen) {
  #body {
    flex-direction: row;
  }

  #body[data-menu-position="right"] {
    flex-direction: row-reverse;
  }
}

@media (min-width: variables.$desktop-screen) {
  #body {
    box-shadow: 0 0 .5em #000;
    height: calc(100vh - 2em);
    margin-bottom: 1em;
    margin-top: 1em;
    overflow-x: inherit;
  }

  #body[data-menu-position="right"] {
    flex-direction: row-reverse;
  }
}